
.foto{
    border-radius: 50%;
    background-image: url("/images/1366_2000.jpeg");
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-self: center;
}
.introduction{
    text-align: justify;
    justify-self: end;
}

/*  MEDIDAS PARA CELULAR  */
@media (max-width: 600px) {
    .introduction{
        text-align: center;
    }
}